.MovieDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .BackdropImg {
    width: 90%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    margin-bottom: -12.5rem;
  }

  .details-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .details-container p {
    color: black;
    font-size: 1rem;
    font-weight: 200;
    padding: 20px;
    margin: 10px;
  }

  h2 {
    padding: 30px;
    letter-spacing: .15cap;
    color: #ff6f6f;
  }

.genres {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.genre {
    background-color: #96ff95;
    color: #ff6f6f;
    Font-weight: bold;
    font-size: small;
    padding: 10px;
    border-radius: 15%;
    margin-left: 20px;

}

  .home-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }